# Dependency folders
node_modules/
client/node_modules/
server/node_modules/

# Secrets and Environment Variables
.env
.env.local

# Logs and system files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store